[submodule "Lisboa1-LastFM-Data"]
	path = libs/Lisboa1-LastFM-Data
	url = https://github.com/yaninaerivera/Lisboa1-LastFM-Data.git
[submodule "AyDS-NewYork2-Submodule"]
	path = libs/AyDS-NewYork2-Submodule
	url = https://github.com/FacundoAlvarado9/AyDS-NewYork2-Submodule
[submodule "wikipedia-module"]
	path = libs/wikipedia-module
	url = https://github.com/TomasFelp/wikipedia-module

